PyZine/env
gcloudSqlProxy/myflaskapp.sql
secrets/
PyZineDeployment/gcpPyZineDeploy/.terraform/

#terraform
gcpPyZineDeploy/secret/
gcpPyZineDeploy/ops.tfvars
gcpPyZineDeploy/terraform.tfstate.backup
gcpPyZineDeploy/terraform.tfstate


