./PyZine/env
./gcloudSqlProxy/myflaskapp.sql
./secrets

#terraform
./gcpPyZineDeploy/secret/
./gcpPyZineDeploy/ops.tfvars
./gcpPyZineDeploy/terraform.tfstate.backup
./gcpPyZineDeploy/terraform.tfstate


